[package]
name = "generate_snapshot_job"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.9"
tempfile = "3.5"
clap = { version = "4.2", features = ["derive"] }
